* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}

a {
  text-decoration: none;
  color: #000;
}

header {
  background-color: #f2e5d8;

  display: flex;
  justify-content: center;
  align-items: center;

  display: flex;
  justify-content: center;
  align-items: center;

  padding: 6px;
}

header div {
  display: flex;
  justify-content: space-between;
  align-items: center;

  width: 100%;
  max-width: 1280px;
  padding: 0px 16px;
}

header div nav ul {
  display: flex;
  gap: 20px;
  list-style: none;
}

/* Design do Box - Gerador de Frases */
main {
  margin: 10% auto;
  align-items: center;
  text-align: center;
  min-height: min-content;
  width: 50%;
  padding: 10px auto 20px;
  border: 2px solid #efd9c2;
}

main h1 {
  font-size: xxx-large;
  font-family: "Times New Roman", Times, serif;
  font-weight: 700;
  margin: 30px auto 5px;
  font-style: oblique;
}

#frase {
  width: 74%;
  height: min-content;
  margin: 0 auto;
  border: 2px solid #f2e5d8;
  margin-bottom: 5%;
  padding: 10px 20px;
}

#space {
  display: flex;
  justify-content: space-evenly;
  margin: 3% auto 10px;
}

#space hr {
  width: 20%;
  height: min-content;
}
/* next_btn */
#next_btn {
  cursor: pointer;
  --button_radius: 0.75em;
  --button_color: #fcfafa;
  --button_outline_color: #e8c030;
  font-size: 17px;
  font-weight: bold;
  margin: 0 auto 20px;
  border: none;
  border-radius: var(--button_radius);
  background: var(--button_outline_color);
}

.button_top {
  display: block;
  box-sizing: border-box;
  border: 2px solid var(--button_outline_color);
  border-radius: var(--button_radius);
  padding: 0.75em 1.5em;
  background: var(--button_color);
  color: var(--button_outline_color);
  transform: translateY(-0.2em);
  transition: transform 0.1s ease;
}

#next_btn:hover .button_top {
  transform: translateY(-0.33em);
}

#next_btn:active .button_top {
  transform: translateY(0);
}
/* FIM do next_btn */

.scene {
  margin: 0 20em;
  width: 10em;
  justify-content: center;
  align-items: center;
}

.cube {
  color: #ccc;
  cursor: pointer;
  font-family: "Roboto", sans-serif;
  transition: all 0.85s cubic-bezier(0.17, 0.67, 0.14, 0.93);
  transform-style: preserve-3d;
  transform-origin: 100% 50%;
  width: 10em;
  height: 4em;
}

.cube:hover {
  transform: rotateX(-90deg);
}

.side {
  box-sizing: border-box;
  position: absolute;
  display: inline-block;
  height: 4em;
  width: 10em;
  text-align: center;
  text-transform: uppercase;
  padding-top: 1.5em;
  font-weight: bold;
}

.top {
  background: wheat;
  color: #222229;
  transform: rotateX(90deg) translate3d(0, 0, 2em);
  box-shadow: inset 0 0 0 5px #fff;
}

.front {
  background: #222229;
  color: #fff;
  box-shadow: inset 0 0 0 5px #fff;
  transform: translate3d(0, 0, 2em);
}

section {
  width: 100%;
  padding: 0 22px;

  min-height: 40vh;

  display: flex;
  justify-content: center;
  align-items: center;

  background-color: #f4ede6;
}

section div {
  display: flex;
  align-items: center;
  justify-content: space-between;
  /* gap: 24px; */

  width: 100%;
  max-width: 1280px;
}

@media (max-width: 600px) {
  section div {
    flex-direction: column;

    padding: 10px 0;
  }

  section div form {
    display: flex;
    flex-direction: column;

    gap: 0;
    width: 40%;
  }
}

.contato {
  flex-direction: column;

  gap: 12px;
  width: 50%;
}

.contato h1 {
  font-size: 48px;
}

.contato p {
  text-align: center;
}

section form {
  display: flex;
  flex-direction: column;

  gap: 1.3rem;
  width: 40%;
}

.label-input {
  display: flex;
  flex-direction: column;

  gap: 4px;
}

.label-input input,
textarea {
  padding: 6px;
  border-radius: 6px;
  padding-left: 6px;

  width: 100%;

  outline: none;
  border: none;

  resize: none;
}

input:focus,
textarea:focus {
  outline: none;
  border: none;

  resize: none;
}

#enviar {
  /* border: none; */

  padding: 4px;
}
/* Design do Scetion - Sobre */
#sobre {
  width: 100%;
  background: #efd9c2;
  height: min-content;
  margin: auto;
  padding: 15px auto;
  text-align: center;
  align-items: center;
}
#box {
  width: 60%;
  height: 30rem;
  display: flex;
  justify-content: space-around;
  margin: auto;


}
#box1 {
  width: 50%;
  background: #efd5b9;
}
#nos {
  width: fit-content;
  height: min-content;
  display: flex;
  justify-content: space-around;
  margin: 2rem auto 1rem 1rem;
  align-items: center;
}
#nos hr {
  transform: rotate(180deg);
  background: #e8c030;
  width: 3px;
  height: 42.19px;
  border: none;
  margin-right: 1rem;
}
#nos h4 {
  color: #421803;
  font-family: Times New Roman;
  font-size: medium;
  font-style: italic;
  font-weight: 700;
  line-height: normal;
}
#box1 h2 {
  background: #fde9d2;
  margin: 0 auto;
  width: fit-content;
  color: #000;
  font-family: Times New Roman;
  font-size: xx-large;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
#box1 p {
  margin: 1.5rem auto;
  text-align: start;
  width: 95%;
  height: fit-content;
  color: #000;
  font-family: Abel;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

#box2 {
  width: 50%;
  height: min-content;
  margin: 0;
}
#box2 img {
  width: 100%;
  height: 30rem;
  background-repeat: no-repeat;
  background-size: contain;
}

@media only screen and (max-width: 1440px) {
  #box1 p {
    font-size: large;
  }
}
@media only screen and (max-width: 1024px) {
  #box1 h2 {
    font-size: x-large;
  }
  #box1 p {
    font-size: medium;
  }
}

@media only screen and (max-width: 768px) {
  #box1 p {
    font-size: small;
  }
}
