*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}

/* Design do Cabeçalho */
header{
    background-color:#f2e5d8;
       
    display: flex;
    justify-content: center;
    align-items: center;

    padding: 6px;
}

header div {
    display: flex;
    justify-content: space-between ;
    align-items: center;

    width: 100%;
    max-width: 1280px;
    padding: 0px 16px;
}

header div nav ul{    
    display: flex;
    gap: 20px;
    list-style: none;    
}

/* Design do Box - Gerador de Frases */
main {
    margin: 10% auto;
    align-items: center;
    text-align: center;
    min-height: min-content;
    width: 50%;
    padding: 10px auto 20px;
    border: 2px solid #efd9c2;
}

main h1{
    font-size: xxx-large;
    font-family: 'Times New Roman', Times, serif;
    font-weight: 700;
    margin: 30px auto 5px;
    font-style: oblique;
}

#frase{
    width: 74%;
    height: min-content;
    margin: 0 auto;
    border: 2px solid #f2e5d8;
    margin-bottom: 5%;
    padding: 10px 20px;
}
#space{
    display: flex;
    justify-content: space-evenly;
    margin: 3% auto 10px;
}
#space hr{
    width: 20%;
    height: min-content;
}
/* next_btn */
.scene {
margin: 0 20em;
 width: 10em;
 justify-content: center;
 align-items: center;
}

.cube {
 color: #ccc;
 cursor: pointer;
 font-family: 'Roboto', sans-serif;
 transition: all 0.85s cubic-bezier(.17,.67,.14,.93);
 transform-style: preserve-3d;
 transform-origin: 100% 50%;
 width: 10em;
 height: 4em;
}

.cube:hover {
 transform: rotateX(-90deg);
}

.side {
 box-sizing: border-box;
 position: absolute;
 display: inline-block;
 height: 4em;
 width: 10em;
 text-align: center;
 text-transform: uppercase;
 padding-top: 1.5em;
 font-weight: bold;
}

.top {
 background: wheat;
 color: #222229;
 transform: rotateX(90deg) translate3d(0, 0, 2em);
 box-shadow: inset 0 0 0 5px #fff;
}

.front {
 background: #222229;
 color: #fff;
 box-shadow: inset 0 0 0 5px #fff;
 transform: translate3d(0, 0, 2em);
}
/* FIM do next_btn */

/* Design do Scetion - Sobre */
#sobre{
    width: 100%;
    background: #efd9c2;
    height: min-content;
    margin: 30px auto;
    padding: 15px auto;
    text-align: center;
    align-items: center;
}
#box{
    width: 60%;
    height: 30rem;
    display: flex;
    justify-content: space-around;
    margin: 20px auto;
}
#box1{
    width: 50%;
    background: #efd5b9;
}
#nos{
    width: fit-content;
    height: min-content;
    display: flex;
    justify-content: space-around;
    margin: 2rem auto 1rem 1rem;
    align-items: center;
}
#nos hr{
    transform: rotate(180deg);
    background: #e8c030;
    width: 3px;
    height: 42.19px;
    border: none;
    margin-right: 1rem;
}
#nos h4{
    color: #421803;
    font-family: Times New Roman;
    font-size: medium;
    font-style: italic;
    font-weight: 700;
    line-height: normal;
}
#box1 h2{
    background: #FDE9D2;
    margin: 0 auto;
    width: fit-content;
    color: #000;
    font-family: Times New Roman;
    font-size: xx-large;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}
#box1 p{
    margin: 1.5rem auto;
    text-align: start;
    width: 95%;
    height: fit-content;
    color: #000;
    font-family: Abel;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

#box2{
    width: 50%;
    height: min-content;
    margin: 0;
}
#box2 img{
    width: 100%;
    height: 30rem;
    background-repeat: no-repeat;
    background-size: contain;
}